PRIVATE_KEY_DEPLOYER="423f6961426590191fd296c1e4f24d2ea0f928d3b967d287cef84adf48b69164"
ETHERNAL_EMAIL="" # Needed only if using --enable-explorer with dApp Launchpad
ETHERNAL_PASSWORD="" # Needed only if using --enable-explorer with dApp Launchpad
ETHERNAL_WORKSPACE="" # Needed only if using --enable-explorer with dApp Launchpad
